body {
    margin: 0 0;
}

body.pushable {
    background: #E7E7E7 !important;
}

#app {
    width: 100%;
    height: 100%;
}

    .ui.image img, .ui.image svg {
        max-width: 76%;
        margin: auto;
        margin-top: 6px;
        margin-bottom: 9px;
    }
    /* 
    .ui.vertical.menu .item > i.icon {
        width: 2.48em;
        float: left;
        margin: 0 0 0 .8em;
        text-align: left;
    }

    .ui.sidebar .menu a:first-child {
        display: none;
    }
    .ui.sidebar .menu a {
        margin-left: 22px;
    }
    .ui.sidebar .menu {
        border-bottom: 1px solid #3C3D3D;
    }
 */

 .ui.sidebar .menu a:first-child {
    display: none;
}

.ui.sidebar .menu a.item {
    padding-left: 26px !important;
}
 
/*@media (min-width: 700px) { */
    .ui.sidebar.visible ~ .pusher {
        width: calc(100% - 260px);
       /*  transition: width 2s; */
    }
/*}*/
 


.pusher {
    background: #e7e7e7 !important;
}

.ui.segment[class*="bottom attached"] {
    margin-bottom: 0px;
}
#app > .ui.attached.segment {
    border: 0px solid !important;
}

#container {
    padding: 15px 20px;
}


button.colprimary, .button.colprimary {
    background: #9ED440 !important;
}
button.colprimary:hover {
    background: #8bbd33 !important;
}

.ui.colprimary.segment:not(.inverted) {
    border-top: 2px solid #9ED440 !important;
}

/* .swal-button {
    color: rgba(0,0,0,.6);
}
.swal-button:focus {
    box-shadow: unset;
}
.swal-button.swal-button--confirm {
    background: #9ED440;
} */

.swal-icon.swal-icon--warning ~ .swal-footer .swal-button--confirm{
    background-color: #F67E14;
}
.swal-icon.swal-icon--warning ~ .swal-footer .swal-button--confirm:hover{
    filter: grayscale(15%)
}


.ui.disabled {
    opacity: .75 !important;
}

.ui.form .inline.fields .wide.field:last-child {
    padding: 0px;
}

/* 
.ui.labeled.icon.button, .ui.labeled.icon.buttons .button {
	padding-left: 3.19142857em !important;
	padding-right: 0.8em !important;
}

.ui.styled.accordion .accordion .content, .ui.styled.accordion .content {
    padding: 0em 2em 0.8em;
}

 */


 .ui.fluid.selection.dropdown {
    width: 100% !important;
}


